<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>海上花园-厦门</title>
<meta content="海上花园-厦门" name="keywords" />
<meta content="海上花园-厦门" name="description" />
<link href="../css/base.css" rel="stylesheet" type="text/css">
<link href="../css/pagename.css" rel="stylesheet" type="text/css">
</head>
<body>
<!--header 头部-->
<div class="w1000">
	<div class="header_bottom">
		<a href="../index.html"><img src="../images/logo.png" width="257.5" height="57.25" alt="" title="海上花园-厦门"></a>
		      <ul>
                    <li><a href="../index.html">网站首页</a></li>       
                    <li><a href="historic.html">历史</a></li>
                    <li><a href="zhiwuyuan.html">攻略</a></li>      
                    <li><a href="beautiful.html">景点</a></li>        
                    <li><a href="tourism.html">游记</a></li>      
                    <li><a href="delicacy.html">美食</a></li>      
                    <li><a href="leave.html">留言</a></li>   
                    <li><a href="about.html">团队介绍</a></li>      
                    <li><a href="connection.html">联系我们</a></li>
              </ul>  
    </div>       
</div>
 
<div class="container"> 		
		<!--banner 标题-->
		<div class="banner_erji">
        	<img src="../images/团队.png" width="1000" height="187" alt="" title="">
        </div>
		
		<!--content 内容-->
		<div class="content clearfix">
        	<div class="leftbar">
            	<div class="leftnav">
                	<h1>其他目录</h1>
                	<ul class="ul_left">
						<li><h3><a href="leave.html">给我留言</a></h3></li>
						<li><h3><a href="about.html">团队介绍</a></h3></li>
						<li><h3><a href="connection.html">联系我们</a></h3></li>
         			</ul>                
                </div>
                <div class="left_lx">
                	<h1>联系方式</h1>
                    <p>地址：福建省厦门市集美区</p>
                    <p>联系人：范先生</p>
                    <p>电话：0592-1234567</p>
                    <p>QQ：58760000</p>
                     <p>网址：www.xmtravel.com</p>
                    <p>邮编：361001</p>
                </div>
            </div>
        	<div class="rightbar">
            	<div class="bread"><a href="../index.html">首页</a> > 团队介绍</div>
            	<div class="con_news">
                	<p class="p_tit2">
                    	<span><b>团队介绍</b></span>
                  	</p>
                	<div class="con">
               		   <p>
						<p>
							&nbsp;&nbsp;&nbsp;&nbsp;我们的团队成员分别是来自福建省的各个地方。<br />
							&nbsp;&nbsp;&nbsp;&nbsp;在这里，我们的每个想法都会得到团队中肯的意见，最终趋于完美。<br />
							&nbsp;&nbsp;&nbsp;&nbsp;在这里，我们的工作受到应得的肯定，我们相信有付出就一定有回报。
						</p>
						<p> <br /> </p>
						<p> <br /> </p>
						<p><img src="../images/专业团队.jpg"><br />
						<p> <br /> </p>
                    </div>
              	</div>           
            </div>
        </div>	
</div>

<!--footer 尾部-->
<div class="footer"> 

	<p><a href="../index.html">首页</a> | <a href="historic.html">历史</a> | <a href="zhiwuyuan.html">攻略</a> | <a href="beautiful.html">景点</a> | <a href="tourism.html">游记</a> | <a href="delicacy.html">美食</a> | <a href="leave.html">留言</a>| <a href="about.html">团队介绍</a> | <a href="connection.html">联系我们</a></p></p>
    
	<p>Copyright &copy; 2020－2021 All Rights Reserved 版权所有：软件工程新媒体专业-JavaScript课程专用</p>
	<p>地址：福建省厦门市集美区 </p>
</div>
</body>
</html>