<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>海上花园-厦门</title>
<meta content="海上花园-厦门" name="keywords" />
<meta content="海上花园-厦门" name="description" />
<link href="../css/base.css" rel="stylesheet" type="text/css">
<link href="../css/pagename.css" rel="stylesheet" type="text/css">
</head>
<body>
<!--header-->
<div class="w1000">
	<div class="header_bottom">
			<a href="index.html"><img src="../images/logo.png" width="294" height="59" alt="" title="海上花园-厦门"></a>
       		<ul>
            	<li><a href="../index.html">网站首页</a></li>       
				<li><a href="historic.html">历史</a></li>
				<li><a href="zhiwuyuan.html">攻略</a></li>      
                <li><a href="beautiful.html">景点</a></li>        
                <li><a href="tourism.html">游记</a></li>      
                <li><a href="delicacy.html">美食</a></li>      
                <li><a href="leave.html">留言</a></li>   
				 <li><a href="about.html">团队介绍</a></li>      
                <li><a href="connection.html">联系我们</a></li>
     		</ul>  
    </div>       
</div>
<!--header结束--> 
<div class="container"> 		
		<!--banner开始-->
		<div class="banner_erji">
        	<img src="../images/厦门鼓浪屿.jpg" width="1000" height="187" alt="" title="">
        </div>
		<!--banner结束--> 
		<!--content开始-->
		<div class="content clearfix">
        	<div class="leftbar">
            	<div class="leftnav">
                	<h1>话说厦门</h1>
                	<ul class="ul_left">
        				<li>
							<h3><a href="introduce.html">厦门简介</a></h3>
						</li>
        				<li>
							<h3><a href="Culture.html">厦门文化</a></h3>
						</li>
        				<li>
							<h3><a href="historic.html">厦门历史</a></h3>
						</li>
         			</ul>
                </div>
                <div class="left_lx">
                	<h1>联系方式</h1>
                    <p>地址：福建省厦门市集美区</p>
                    <p>联系人：范先生</p>
                    <p>电话：0592-1234567</p>
                    <p>QQ：58760000</p>
                    <p>网址：www.xmtravel.com</p>
                    <p>邮编：361001</p>
                </div>
            </div>
        	<div class="rightbar">
				<div class="bread"><a href="../index.html">首页</a> > 厦门文化</div>
				<div class="con_news">
					<p class="p_tit2">
						<span><b>厦门文化</b></span>
						发布人:管理员　　发布时间：2020-06-10 23:45:28
					</p>
					<div class="con">
						<p>
						<p>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1986年10月23日厦门市第八届人民代表大会常务委员会第二十三次会议，审议厦门市人民政府关于提请确定市树、市花、市鸟的议案，决定凤凰木为市树、三角梅为市花、白鹭为市鸟。厦门市的公营单位以白鹭形象为徽标。
							<br />
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;厦门，地方上使用闽南方言之厦门话，闽南方言是全国八大方言之一，是一种超地区、超省界的汉语方言。它主要通行于闽南地区、粤东的潮汕地区和台湾省的部分地区，海南省和广东的雷州半岛一些地区以及浙江、江西、广西、江苏和福建的中部及东北部地区，也有讲闽南方言的“福佬话”（属闽南语“闽台片”）互通。千余年来，闽南、潮汕一带有不少人出洋谋生而相继向外移居。人语相随，东南亚诸国有相当一部分华侨和华裔仍然以闽南方言作为他们的交际工具。
							<br />
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中秋薄饼，闽南地区特有的饼文化外延的一种民俗活动。是在中秋节时用于娱乐的一种游戏，用六粒骰子投掷结果组合来决定参与者的奖品。传统的奖品为大小不同的月饼，专有名为会饼，相传这种游戏可以预测人未来一年内的运气。正月初三忌拜年，厦门传统习俗正月初三不能登门拜年，要在家里祭祀亡灵。有谚语曰“初一早，初二早，初三困甲饱”，意思是初三日无客登门，晚起无妨。那么这个习俗是怎么来的呢？相传，明朝嘉靖年间，倭寇占领厦门外岛浯屿。一年除夕夜晚，官兵忙于过年而疏于守备，大股倭寇乘机攻城，军民奋起抵抗敌人，激战二日三夜，倭寇才败退，但城内军民伤亡极重。初三日，百姓各自收埋亲友，吊丧亡灵，哭声震天，无暇到别家登门拜年。第二年初三日，厦门居民把此日作为忌日，久而久之，成为惯例。
							<br />
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;厦门的宗教有佛教、基督教、天主教和伊斯兰教，以佛教为主。闽南古刹南普陀寺、闽南佛学院在海内外负盛名；基督教新街礼拜堂被称为“中华第一圣堂”；天主教厦门教区设于鼓浪屿，是闽南天主教对外交往的中心。
							<br />
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;厦门市入选国务院国家级非物质文化遗产保护项目名录的有南音、高甲戏、歌仔戏、答嘴鼓、漆线雕、童谣（闽南童谣）、讲古、民间信俗（保生大帝信俗）、中秋博饼、民间信俗（闽台送王船）、抬阁（海沧蜈蚣阁）、闽南传统民居营造技艺。
							<br />
						</p>
						<p>
							<br />
						</p>
					</div>
            	</div>
            </div>
        </div>
		<!--content结束--> 
</div>
<!--footer开始-->
<div class="footer"> 
	<p><a href="../index.html">首页</a> | <a href="historic.html">历史</a> | <a href="zhiwuyuan.html">攻略</a> | <a href="beautiful.html">景点</a> | <a href="tourism.html">游记</a> | <a href="delicacy.html">美食</a> | <a href="leave.html">留言</a>| <a href="about.html">团队介绍</a> | <a href="connection.html">联系我们</a></p></p>
	<p>Copyright &copy; 2020－2021 All Rights Reserved 版权所有：软件工程新媒体专业-JavaScript课程专用</p>
	<p>地址：福建省厦门市集美区</p>
</div>
<!--footer 结束--> 
</body>
</html>