<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>海上花园-厦门</title>
<meta content="海上花园-厦门" name="keywords" />
<meta content="海上花园-厦门" name="description" />
<link href="../css/base.css" rel="stylesheet" type="text/css">
<link href="../css/pagename.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="w1000">
	<div class="header_bottom">
		<a href="../index.html"><img src="../images/logo.png" width="257.5" height="57.25" alt="" title="海上花园-厦门"></a>
       		<ul>
            	<li><a href="../index.html">网站首页</a></li>       
				<li><a href="historic.html">历史</a></li>
				<li><a href="zhiwuyuan.html">攻略</a></li>      
                <li><a href="beautiful.html">景点</a></li>        
                <li><a href="tourism.html">游记</a></li>      
                <li><a href="delicacy.html">美食</a></li>      
                <li><a href="leave.html">留言</a></li>   
				<li><a href="about.html">团队介绍</a></li>      
                <li><a href="connection.html">联系我们</a></li>
     		</ul>  
    </div>       
</div>
<!--header结束--> 
<div class="container"> 		
		<!--banner-->
		<div class="banner_erji">
        	<img src="../images/foods/炸五香.jpg"width="1000" height="187" alt="" title="">        </div>
		<!--banner end--> 
		<!--content-->
		<div class="content clearfix">
        	<div class="leftbar">
            	<div class="leftnav">
                	<h1>必吃美食</h1>
                	<ul class="ul_left">
						<li>
							<h3><a href="delicacy.html">风味小吃</a></h3>
						</li>
						<li>
							<h3><a href="special.html">特色菜</a></h3>
						</li>
					</ul>
				</div>
				<div class="left_lx">
                	<h1>联系方式</h1>
                    <p>地址：福建省厦门市集美区</p>
                    <p>联系人：范先生</p>
                    <p>电话：0592-1234567</p>
                    <p>QQ：58760000</p>
                    <p>网址：www.xmtravel.com</p>
                    <p>邮编：361001</p>
                </div>
            </div>
        	<div class="rightbar">
            	<div class="bread"><a href="../index.html">首页</a> >风味小吃</div>
            	<ul class="ul_zj clearfix">
					<li>
						<a href="#"><img src="../images/foods/土笋冻.jpg" width="220" height="140"><span>土笋冻</span></a>                  
					</li>
					<li>
						<a href="#"><img src="../images/foods/炸五香.jpg" width="220" height="140"><span>炸五香</span></a>                  
					</li>
					<li>
						<a href="#"><img src="../images/foods/炸春卷.jpg" width="220" height="140"><span>炸春卷</span></a>                  
					</li>
					<li>
						<a href="#"><img src="../images/foods/烧肉粽.jpg" width="220" height="140"><span>烧肉粽</span></a>                  
					</li>
					<li>
						<a href="#"><img src="../images/foods/芋包.jpg" width="220" height="140"><span>芋包</span></a>                  
					</li>
					<li>
						<a href="#"><img src="../images/foods/花生汤.jpg" width="220" height="140"><span>花生汤</span></a>                  
					</li>
					<li>
						<a href="#"><img src="../images/foods/鼓浪屿馅饼.jpg" width="220" height="140"><span>鼓浪屿馅饼</span></a>                 
					</li>
                </ul>
                <div class="paging"></div>
            </div>
        </div>
		<!--content end--> 
</div>
<!--footer开始-->
<div class="footer"> 
	<p><a href="../index.html">首页</a> | <a href="historic.html">历史</a> | <a href="zhiwuyuan.html">攻略</a> | <a href="beautiful.html">景点</a> | <a href="tourism.html">游记</a> | <a href="delicacy.html">美食</a> | <a href="leave.html">留言</a>| <a href="about.html">团队介绍</a> | <a href="connection.html">联系我们</a></p></p>
	<p>Copyright &copy; 2020－2021 All Rights Reserved 版权所有：软件工程新媒体专业-JavaScript课程专用</p>
	<p>地址：福建省厦门市集美区 </p>
</div>
<!--footer 结束--> 
</body>
</html>