<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>海上花园-厦门</title>
<meta content="海上花园-厦门" name="keywords" />
<meta content="海上花园-厦门" name="description" />
<link href="../css/base.css" rel="stylesheet" type="text/css">
<link href="../css/pagename.css" rel="stylesheet" type="text/css">
</head>
<body>

<!--header 头部-->	
<div class="w1000">
	<div class="header_bottom">
		<a href="../index.html"><img src="../images/logo.png" width="257.5" height="57.25" alt="" title="海上花园-厦门"></a>
       		<ul>
            	<li><a href="../index.html">网站首页</a></li>       
				<li><a href="historic.html">历史</a></li>
				<li><a href="zhiwuyuan.html">攻略</a></li>      
                <li><a href="beautiful.html">景点</a></li>        
                <li><a href="tourism.html">游记</a></li>      
                <li><a href="delicacy.html">美食</a></li>      
                <li><a href="leave.html">留言</a></li>   
				 <li><a href="about.html">团队介绍</a></li>      
                <li><a href="connection.html">联系我们</a></li>
     		</ul>  
    </div>       
</div>

<div class="container"> 		
		<!--banner 标题-->
		<div class="banner_erji">
        	<img src="../images/鼓浪屿.png" width="1000" height="187" alt="" title="">
        </div>
		
		<!--content 内容-->
		<div class="content clearfix">
        	<div class="leftbar">
            	<div class="leftnav">
                	<h1>厦门旅游攻略</h1>
                	<ul class="ul_left">
						<li><h3><a href="gulanyu.html">鼓浪屿</a></h3></li>
						<li><h3><a href="yuanboyuan.html">园博苑</a></h3></li>
						<li><h3><a href="zhiwuyuan.html">厦门园林植物园</a></h3></li>
         			</ul>
                </div>
                <div class="left_lx">
                	<h1>联系方式</h1>
					<p>地址：福建省厦门市集美区</p>
					<p>联系人：范先生</p>
					<p>电话：0592-1234567</p>
					<p>QQ：58760000</p>
					<p>网址：www.xmtravel.com</p>
					<p>邮编：361001</p>
                </div>
            </div>
        	<div class="rightbar">
            	<div class="bread"><a href="../index.html">首页</a> > 鼓浪屿攻略</div>
            	<div class="con_news">
                	<p class="p_tit2">
                    	<span><b>鼓浪屿攻略</b></span>
                        发布人:管理员　　发布时间：2020-06-2 20:20:00
                  </p>
                	<div class="con">
               		   <p>
						<p>
							&nbsp;&nbsp;&nbsp;&nbsp;首先，如何上岛。鼓浪屿现在有三个码头，分别是钢琴码头（最早的，现在为白天市民航线专用和晚上的游客进出岛码头）和两个游客码头：内厝沃码头、三丘田码头（这两个码头只在白天开放）。
							<br />
							&nbsp;&nbsp;&nbsp;&nbsp;去程需要按购买船票的航线航班走，回程可以自行选择码头和航班。白天船票是航班制的，走错码头、记错时间船票就会用不了。晚上轮渡码头的夜航船票，在所购航班的运营时间段内都可乘坐。一定记得要提前订票！！如果想走市民码头，只能是厦门社保卡有效的人员或者厦门户籍，或持有鼓浪屿亲友券的人员才可以。
							<br />
							&nbsp;&nbsp;&nbsp;&nbsp;鼓浪屿说大不大，1.8平方公里，但岛上没有机动车，只能纯粹靠步行（部分线路有收费的电瓶车可乘坐），因此合理安排路线很重要。鼓浪屿的核心景点有日光岩、菽庄花园、风琴博物馆、皓月园、国际刻字馆，推荐的是前面四个，路线推荐：正大门进→日光岩寺→龙头寨遗址→博饼文化园→登顶→郑成功纪念馆→西林门出。
							<br />
							&nbsp;&nbsp;&nbsp;&nbsp;日光岩寺，可以说是鼓浪屿岛上最古老的寺庙之一，也有个闽南风格的山门，正殿其实是在巨石岩缝内，正殿巨石上方还有一尊观音石像，登顶路线现在是单行线，也是为了更好的管理，台阶较窄且高，要注意脚下。节假日往往要等上一两小时才能登顶，注意防晒。到最高处可以俯瞰全岛，风景极好。要拍顶峰岩石的最佳机位是在第二至高点。
							<br />
							&nbsp;&nbsp;&nbsp;&nbsp;郑成功纪念馆在西林门附近，周一闭馆，可以顺道去看下。西林门出去可往右前往三一堂，往左前往菽庄花园。其实要拍日光岩全景的最好机位是在菽庄花园内。菽庄花园，面向大海，背倚日光岩，原是地方名绅林尔嘉的私人别墅，园主人以他的字“叔臧”的谐音命名花园，有白水洋水景风光，有火山岛之礁石，又有兔耳岭高山草甸之美。这里才是拍日光岩全景的最好机位。钢琴博物馆一期、二期还有琴廊，在这里可以看到多项世界之最，也深深感叹胡友义一世琴缘，毕生乡情。菽庄花园用时大概也需要1-2小时，但园子较大，地方宽敞，比较不容易出现日光岩的拥堵现象。风琴博物馆参观用时1小时左右便可。皓月园，位于岛东端的这个皓月园，其名取自郑成功的诗句“思君寝不寐，皓月透素帏”中的“皓月”二字，寄托对英雄的缅怀和对台湾同胞的思念。当然首先最吸引人眼球的就是巨型的郑成功雕像了，1985年落成，也是我国目前最大的历史人物石雕像。
						</p>
						<p>
							<br />
						</p>
                    </div>
              </div>
            </div>
        </div>
</div>

<!--footer 尾部-->
<div class="footer"> 

	<p><a href="../index.html">首页</a> | <a href="historic.html">历史</a> | <a href="zhiwuyuan.html">攻略</a> | <a href="beautiful.html">景点</a> | <a href="tourism.html">游记</a> | <a href="delicacy.html">美食</a> | <a href="leave.html">留言</a>| <a href="about.html">团队介绍</a> | <a href="connection.html">联系我们</a></p></p>
    
	<p>Copyright &copy; 2020－2021 All Rights Reserved 版权所有：软件工程新媒体专业-JavaScript课程专用</p>
    <p>地址：福建省厦门市集美区 </p>
</div>
</body>
</html