<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>海上花园-厦门</title>
<meta content="海上花园-厦门" name="keywords" />
<meta content="海上花园-厦门" name="description" />
<link href="../css/base.css" rel="stylesheet" type="text/css">
<link href="../css/pagename.css" rel="stylesheet" type="text/css">
</head>
<body>
<!--header-->
<div class="w1000">
	<div class="header_bottom">
		<a href="../index.html"><img src="../images/logo.png" width="257.5" height="57.25" alt="" title="海上花园-厦门"></a>
       		<ul>
            	<li><a href="../index.html">网站首页</a></li>       
				<li><a href="historic.html">历史</a></li>
				<li><a href="zhiwuyuan.html">攻略</a></li>      
                <li><a href="beautiful.html">景点</a></li>        
                <li><a href="tourism.html">游记</a></li>      
                <li><a href="delicacy.html">美食</a></li>      
                <li><a href="leave.html">留言</a></li>   
				<li><a href="about.html">团队介绍</a></li>      
                <li><a href="connection.html">联系我们</a></li>
     		</ul>  
    </div>       
</div>
<!--header结束--> 
<div class="container"> 		
	<!--banner开始-->
	<div class="banner_erji">
        <img src="../images/厦门鼓浪屿.jpg" width="1000" height="187" alt="" title="">
    </div>
	<!--banner结束--> 
	<!--content开始-->
	<div class="content clearfix">
        <div class="leftbar">
            <div class="leftnav">
                <h1>话说厦门</h1>
                <ul class="ul_left">
        			<li>
						<h3><a href="introduce.html">厦门简介</a></h3>
					</li>
        			<li>
						<h3><a href="Culture.html">厦门文化</a></h3>
					</li>
        			<li>
						<h3><a href="historic.html">厦门历史</a></h3>
					</li>
         		</ul>
            </div>
            <div class="left_lx">
                <h1>联系方式</h1>
                <p>地址：福建省厦门市集美区</p>
                <p>联系人：范先生</p>
                <p>电话：0592-1234567</p>
                <p>QQ：58760000</p>
                <p>网址：www.xmtravel.com</p>
                <p>邮编：361001</p>
            </div>
        </div>
        <div class="rightbar">
            <div class="bread"><a href="../index.html">首页</a> > 厦门历史</div>
            <div class="con_news">
                <p class="p_tit2">
                    <span><b>厦门历史</b></span>
                    发布人:管理员　　发布时间：2020-06-10 23:25:28
                </p>
                <div class="con">
               	<p>
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;厦门远古时2113为白鹭栖息之地，故又称“鹭岛”5261。先秦时期，厦门属百4102越之地；1653《汉书·地理志》记载，百越的分布“自交趾至会稽七八千里，百越杂处，各有种姓”。
					<br />
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;雍正五年（1727年）分守兴泉道移驻厦门，雍正十二年（1734年）改称兴泉永道，管辖兴化府（今莆田）、泉州府和永春州。至此，厦门成为福建东南沿海的军事、政治、经济中心。鸦片战争之后，清政府被迫与英国签订《南京条约》，厦门成为《南京条约》中规定的五个通商口岸之一。
 					<br />
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;道光二十三年九月十一日（1843年11月2日），厦门正式开埠。光绪二十八年十月二十二日（1902年11月21日），清政府正式批准《厦门鼓浪屿租界土地章程》，鼓浪屿成为“万国租界”。
					<br />
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中华民国二十七年（1938年）5月至民国三十四年（1945年）9月沦陷，10月恢复厦门市建制，设中心（后改思明）、开元、鼓浪屿、禾山4区。抗日战争胜利，国民政府恢复厦门市政府建制，直属福建省政府管辖。
					<br />
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1949年09月，同安县、厦门市分别解放，同安县属第五专区（1950年改泉州专区、晋江专区），厦门为福建省辖市。1950年10月，厦门市设开元、思明、鼓浪屿、厦港（后废）、禾山5区。1953年，同安县集美镇归厦门市辖。1958年01月，撤禾山区，改设郊区。1958年08月，同安县由晋江专区划属厦门。
					<br />
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2003年05月，经国务院批准，福建省人民政府颁发《关于厦门市调整部分行政区划的批复》，同意撤销厦门市鼓浪屿区和开元区，其行政区域划归思明区管辖，杏林区更名为海沧区，设立翔安区。行政区调整后，厦门市下辖思明、湖里、集美、海沧、同安和翔安6个区，至2016年12月底不变。
					<br />
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2014年12月，国务院决定设立中国（福建）自由贸易试验区。其中厦门片区共43.78平方公里。
				</p>
				<p>
					<br />
				</p>
            </div>
            </div>
       </div>
    </div>
	<!--content结束--> 
</div>
<!--footer开始-->
<div class="footer"> 
	<p><a href="../index.html">首页</a> | <a href="historic.html">历史</a> | <a href="zhiwuyuan.html">攻略</a> | <a href="beautiful.html">景点</a> | <a href="tourism.html">游记</a> | <a href="delicacy.html">美食</a> | <a href="leave.html">留言</a>| <a href="about.html">团队介绍</a> | <a href="connection.html">联系我们</a></p></p>
	<p>Copyright &copy; 2020－2021 All Rights Reserved 版权所有：软件工程新媒体专业-JavaScript课程专用</p>
	<p>地址：福建省厦门市集美区</p>
</div>
<!--footer 结束--> 
</body>
</html>