<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>海上花园-厦门</title>
<meta content="海上花园-厦门" name="keywords" />
<meta content="海上花园-厦门" name="description" />
<link href="../css/base.css" rel="stylesheet" type="text/css">
<link href="../css/pagename.css" rel="stylesheet" type="text/css">
</head>
<body>
<!--header-->
<div class="w1000">
	<div class="header_bottom">
			<a href="index.html"><img src="../images/logo.png" width="294" height="59" alt="" title="海上花园-厦门"></a>
       		<ul>
            	<li><a href="../index.html">网站首页</a></li>       
				<li><a href="historic.html">历史</a></li>
				<li><a href="zhiwuyuan.html">攻略</a></li>      
                <li><a href="beautiful.html">景点</a></li>        
                <li><a href="tourism.html">游记</a></li>      
                <li><a href="delicacy.html">美食</a></li>      
                <li><a href="leave.html">留言</a></li>   
				 <li><a href="about.html">团队介绍</a></li>      
                <li><a href="connection.html">联系我们</a></li>
     		</ul>  
    </div>       
</div>
<!--header结束--> 
<div class="container"> 		
		<!--banner开始-->
		<div class="banner_erji">
        	<img src="../images/厦门鼓浪屿.jpg" width="1000" height="187" alt="" title="">
        </div>
		<!--banner结束--> 
		<!--content开始-->
		<div class="content clearfix">
        	<div class="leftbar">
            	<div class="leftnav">
                	<h1>话说厦门</h1>
                	<ul class="ul_left">
						<li>
							<h3><a href="introduce.html">厦门简介</a></h3>
						</li>
						<li>
							<h3><a href="Culture.html">厦门文化</a></h3>
						</li>
						<li>
							<h3><a href="historic.html">厦门历史</a></h3>
						</li>
					</ul>
                </div>
                <div class="left_lx">
                	<h1>联系方式</h1>
                    <p>地址：福建省厦门市集美区</p>
                    <p>联系人：范先生</p>
                    <p>电话：0592-1234567</p>
                    <p>QQ：58760000</p>
                    <p>网址：www.xmtravel.com</p>
                  	<p>邮编：361001</p>
                </div>
            </div>
        	<div class="rightbar">
            	<div class="bread"><a href="../index.html">首页</a> > 厦门简介</div>
            	<div class="con_news">
                	<p class="p_tit2">
                    	<span><b>厦门简介</b></span>
                        发布人:管理员　　发布时间：2020-06-10 23:45:28
                  	</p>
                	<div class="con">
               		   	<p>
						<p>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;厦门，简称“厦”或“鹭”，别称鹭岛，是福建省副省级市、计划单列市，国务院批复确定的中国经济特区，东南沿海重要的中心城市、港口及风景旅游城市。
							<br />
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;厦门市，远古时为白鹭栖息之地，故又称“鹭岛”。先秦时期，厦门属百越之地；《汉书·地理志》记载，百越的分布“自交趾至会稽七八千里，百越杂处，各有种姓”。截至2019年，全市下辖6个区，总面积1700.61平方公里，常住人口429万人，户籍人口261.10万人，常住外来人口达221万人。
							<br />
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;厦门地处中国华东地区、福建省东南端，是国家综合配套改革试验区、国家物流枢纽、东南国际航运中心、自由贸易试验区、国家海洋经济发展示范区，已成为两岸新兴产业和现代服务业合作示范区、两岸区域性金融服务中心和两岸贸易中心。 厦门由岛内（厦门本岛）、离岛鼓浪屿、西岸海沧半岛、北岸集美半岛、东岸翔安半岛、大嶝岛、小嶝岛、内陆同安、九龙江等组成，陆地面积1699.39平方公里，海域面积390多平方公里。厦门通行闽南语厦门话，与漳州、泉州同为闽南地区的组成部分。
							<br />
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;截至2018年，厦门的综合信用指数在36个省会及副省级城市排名第2，营商环境居副省级城市第1位，外贸综合竞争力居全国第5位，厦门港集装箱吞吐量位居全球第14位。2018年重新确认国家卫生城市（区）。 2019年厦门地区生产总值（GDP）5995.04亿元，按可比价格计算，比上年增长7.9%
							<br />
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;厦门属于亚热带海洋性季风气候，温和多雨，年平均气温在21℃左右，冬无严寒，夏无酷暑。年平均降雨量在1200毫米左右，每年5～8月份雨量最多，风力一般3～4级，常向主导风力为东北风。由于太平洋温差气流的关系，每年平均受4～5次台风的影响，且多集中在7～9月份。
							<br />
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2020年1月22日，厦门市被住房和城乡建设部命名为国家生态园林城市。
						</p>
						<p>
							<br />
						</p>
                    </div>
              	</div>
            </div>
        </div>
		<!--content结束--> 
</div>
<!--footer开始-->
<div class="footer"> 
	<p><a href="../index.html">首页</a> | <a href="historic.html">历史</a> | <a href="zhiwuyuan.html">攻略</a> | <a href="beautiful.html">景点</a> | <a href="tourism.html">游记</a> | <a href="delicacy.html">美食</a> | <a href="leave.html">留言</a>| <a href="about.html">团队介绍</a> | <a href="connection.html">联系我们</a></p></p>
	<p>Copyright &copy; 2020－2021 All Rights Reserved 版权所有：软件工程新媒体专业-JavaScript课程专用</p>
	<p>地址：福建省厦门市集美区</p>
</div>
<!--footer 结束--> 
</body>
</html>