<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>海上花园-厦门</title>
<meta content="海上花园-厦门" name="keywords" />
<meta content="海上花园-厦门" name="description" />
<link href="../css/base.css" rel="stylesheet" type="text/css">
<link href="../css/pagename.css" rel="stylesheet" type="text/css">
</head>
<body>
<!--header-->
<div class="header"> 
	<div class="w1000">
    	<p>你好，欢迎光临-海上花园厦门！</p>
        <div class="contact"><a href="../index.html">设为首页</a> <a href="../index.html">加入收藏</a></div>
	</div>
</div>
<div class="w1000">
	<div class="header_bottom">
			<a href="../index.html"><img src="../images/logo.png" width="300" height="60" alt="" title="海上花园-厦门"></a>
       		<ul>
            	<li><a href="../index.html">网站首页</a></li>       
				<li><a href="historic.html">历史</a></li>
				<li><a href="zhiwuyuan.html">攻略</a></li>      
                <li><a href="beautiful.html">景点</a></li>        
                <li><a href="tourism.html">游记</a></li>      
                <li><a href="delicacy.html">美食</a></li>      
                <li><a href="leave.html">留言</a></li>   
				 <li><a href="about.html">团队介绍</a></li>      
                <li><a href="connection.html">联系我们</a></li>
     		</ul>  
    </div>       
</div>
<!--header结束--> 
<div class="container"> 		
		<!--banner-->
		<div class="banner_erji">
        	<img src="../images/厦门游记1.png" width="1000" height="187" alt="" title="">        </div>
		<!--banner end--> 
		<!--content-->
		<div class="content clearfix">
        	<div class="leftbar">
            	<div class="leftnav">
                	<h1>游记目录</h1>
                	<ul class="ul_left">
						<li>
							<h3><a href="tourism.html">游记1</a></h3>
						</li>
						<li>
							<h3><a href="tourism2.html">游记2</a></h3>
						</li>
						<li>
							<h3><a href="tourism3.html">游记3</a></h3>
						</li>
				 	</ul>
                </div>
                <div class="left_lx">
                	<h1>联系方式</h1>
                    <p>地址：福建省厦门市集美区</p>
                    <p>联系人：范先生</p>
                    <p>电话：0592-1234567</p>
                    <p>QQ：58760000</p>
                    <p>网址：www.xmtravel.com</p>
                    <p>邮编：361001</p>
                </div>
            </div>
        	<div class="rightbar">
            	<div class="bread"><a href="../index.html">首页</a> > 游记 > 游记3</div>
            	<div class="con_news">
                	<p class="p_tit2">
                    	<span><b>游记3</b></span>
                    </p>
                	<div class="con">
               		   	<p>
						<p>
							&nbsp;&nbsp;&nbsp;&nbsp;<b>厦 门 3 天 2 夜 自 由 行 攻 略 ，打 卡 不 可 错 过 的 景 点 与 美 食 </b> <br /><br />
							&nbsp;&nbsp;&nbsp;&nbsp;我的出行信息——————
							出发时间： 2019-09-13 &nbsp;&nbsp;人物： 人物和朋友 &nbsp;&nbsp;人均费用： 700元 &nbsp;&nbsp;出行天数：3天<br /><br />
							&nbsp;&nbsp;&nbsp;&nbsp;记得初识 厦门 还是在高中时听朋友提及，说他旅游的第一站一定要去 厦门 ，因为这个城市很美，于是在多年后，我也安排上了 厦门 的行程。<br /><br />
							&nbsp;&nbsp;&nbsp;&nbsp;虑到返程便利，酒店就直接定在了 厦门 站附近，这样整个行程的交通也会便利许多<br /><br />
							&nbsp;&nbsp;&nbsp;&nbsp;<b>猫 咪 博 物 馆 - 演 武 大 桥 - 曾 厝 垵 </b><br /><br />
							&nbsp;&nbsp;&nbsp;&nbsp;上午的高铁🚅从 深圳 出发，大约中午一点左右可以到达 厦门 ，在酒店休息到下午3点，我们就直接出发前往猫咪博物馆了，这里虽说不大，但人还是挺多的，喜欢猫咪的朋友建议可以到这里打卡。<br  /><br  />
							&nbsp;&nbsp;&nbsp;&nbsp;<b>建 议 游 玩 时 间 ： 1 小 时 </b><br  /><br  />
							&nbsp;&nbsp;&nbsp;&nbsp;接着我们步行穿过猫街，到达演武大桥，听这座桥是距离海平面最近的桥，也是打卡 厦门 必不可少的景点之一。<br  /><br  />
							&nbsp;&nbsp;&nbsp;&nbsp;一路走过去正好可以赶上落日余晖，若是想要拍美美照片的话，可以停留到天黑，周围的灯都亮起来后，不过我们肚子都比较饿，没玩多久就去了了曾厝垵。</p>
						<ul class="ul_zj clearfix">
							<li>
								<a href="#"><img src="../images/游记3-1.jpg" width="220" height="140"><span>厦门</span></a>                  
							</li>
							<li>
								<a href="#"><img src="../images/游记3-2.jpg" width="220" height="140"><span>猫仔街</span></a>                  
							</li>
							<li>
								<a href="#"><img src="../images/游记3-3.jpg" width="220" height="140"><span>演武大桥</span></a> 
							</li>
							<li>
								<a href="#"><img src="../images/游记3-4.jpg" width="220" height="140"><span>演武大桥</span></a> 
							</li>
							<li>
								<a href="#"><img src="../images/游记3-8.jpg" width="220" height="140"><span>曾厝垵</span></a> 
							</li>
							<li>
								<a href="#"><img src="../images/游记3-9.jpg" width="220" height="140"><span>曾厝垵</span></a> 
							</li>
							<li>
								<a href="#"><img src="../images/游记3-10.jpg" width="470" height="240"><span>特色小吃</span></a> 
							</li>
						</ul>
                 	</div>
                <div class="paging"></div>
            </div>
        </div>
		<!--content end--> 
</div>
<!--footer开始-->
<div class="footer"> 
	<p><a href="../index.html">首页</a> | <a href="historic.html">历史</a> | <a href="zhiwuyuan.html">攻略</a> | <a href="beautiful.html">景点</a> | <a href="tourism.html">游记</a> | <a href="delicacy.html">美食</a> | <a href="leave.html">留言</a>| <a href="about.html">团队介绍</a> | <a href="connection.html">联系我们</a></p></p>
	<p>Copyright &copy; 2020－2021 All Rights Reserved 版权所有：软件工程新媒体专业-JavaScript课程专用</p>
	<p>地址：福建省厦门市集美区 </p>
</div>
<!--footer 结束--> 
</body>
</html>