<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>海上花园-厦门</title>
<meta content="海上花园-厦门" name="keywords" />
<meta content="海上花园-厦门" name="description" />
<link href="../css/base.css" rel="stylesheet" type="text/css">
<link href="../css/pagename.css" rel="stylesheet" type="text/css">
</head>
<body>
<!--header-->
<div class="header"> 
	<div class="w1000">
    	<p>你好，欢迎光临-海上花园厦门！</p>
        <div class="contact"><a href="../index.html">设为首页</a> <a href="../index.html">加入收藏</a></div>
	</div>
</div>
<div class="w1000">
	<div class="header_bottom">
			<a href="../index.html"><img src="../images/logo.png" width="300" height="60" alt="" title="海上花园-厦门"></a>
       		<ul>
            	<li><a href="../index.html">网站首页</a></li>       
				<li><a href="historic.html">历史</a></li>
				<li><a href="zhiwuyuan.html">攻略</a></li>      
                <li><a href="beautiful.html">景点</a></li>        
                <li><a href="tourism.html">游记</a></li>      
                <li><a href="delicacy.html">美食</a></li>      
                <li><a href="leave.html">留言</a></li>   
				 <li><a href="about.html">团队介绍</a></li>      
                <li><a href="connection.html">联系我们</a></li>
     		</ul>  
    </div>       
</div>
<!--header结束--> 
<div class="container"> 		
		<!--banner-->
		<div class="banner_erji">
			<img src="../images/厦门游记1.png" width="1000" height="187" alt="" title="">        
		</div>
		<!--banner end--> 
		<!--content-->
		<div class="content clearfix">
        	<div class="leftbar">
            	<div class="leftnav">
                	<h1>游记目录</h1>
                	<ul class="ul_left">
						<li>
							<h3><a href="tourism.html">游记1</a></h3>
						</li>
							  <li><h3><a href="tourism2.html">游记2</a></h3>
						</li>
							  <li><h3><a href="tourism3.html">游记3</a></h3>
						</li>
				 	</ul>
                </div>
                <div class="left_lx">
                	<h1>联系方式</h1>
                    <p>地址：福建省厦门市集美区</p>
                    <p>联系人：范先生</p>
                    <p>电话：0592-1234567</p>
                    <p>QQ：58760000</p>
                    <p>网址：www.xmtravel.com</p>
                    <p>邮编：361001</p>
                </div>
            </div>
        	<div class="rightbar">
            	<div class="bread"><a href="../index.html">首页</a> > 游记 > 游记2</div>
            	<div class="con_news">
                	<p class="p_tit2">
                    	<span><b>游记2</b></span>
                    </p>
                	<div class="con">
               		  	<p>
						<p>
							&nbsp;&nbsp;&nbsp;&nbsp;<b>厦 门 端 午 节 度 假 怎 么 玩 ？ 端 午 节 去 厦 门 合 适 吗 ？</b> <br /><br />
							&nbsp;&nbsp;&nbsp;&nbsp;多年来，在端午节出游的众多热门旅游城市中， 厦门 一直稳坐前十名，这是为啥？其实很好解释， 厦门 是一个尤其适合夏天度假的城市，而端午节一般都在五六月，在 厦门 的海边吹吹风，晒晒太阳，想多舒服就有多舒服。<br /><br />
							&nbsp;&nbsp;&nbsp;&nbsp;<b>端 午 节 厦  门   度 假 必 游 的 景 点 </b><br /><br />
							&nbsp;&nbsp;&nbsp;&nbsp;众所周知， 厦门 有很多大咖景点， 鼓浪屿 名声在外，号称 中国 夏威夷 ，其景观秀丽多姿，让人难忘，这个地方肯定是要去的，像 厦门 大学，顶着 中国 最美十大高校的光环，也是让它成为一个必打卡的景点，还有猫街、南普陀寺、胡里山炮台，万石植物园这些通通都值得一游。<br />
							<br />
							&nbsp;&nbsp;&nbsp;&nbsp;最后我再给大家推荐一个景点——环岛路，这是一条海滨公路，沿途有非常多的景点，像文艺圣地曾厝垵就在这条路上，这个地方一定要去！一定要去！一定要去！不但文艺，还是吃货的天堂。在环岛路上你可以租借一辆自行车与蓝天白云清风大海来个亲密接触，真是清风徐来，白云自动，无比惬意啊！<br  /><br  />
							&nbsp;&nbsp;&nbsp;&nbsp;<b>端 午 节  厦  门 度 假 住 哪 里 ？</b><br  /><br  />
							&nbsp;&nbsp;&nbsp;&nbsp;我个人建议你住在环岛路上，空气好，环境好，交通方便，每天晚上吹着海风，看着迷人夜色，爽爆了。 厦门 云也酒店是个不错的选择，住过两次，房间特牛，蓝天白云格调，与夏天最配了，酒店里很多设施都特别高大上，什么醒餐厅啊，启书吧啊啥的，还有浪潮 天台 餐厅，在那里可以近距离直面大海，享受无比。<br  /><br  />
							&nbsp;&nbsp;&nbsp;&nbsp;<b>端 午 节 厦  门 度 假 吃 什 么 ？ </b><br  /><br  />
							&nbsp;&nbsp;&nbsp;&nbsp;厦门 的风味和土特产都比较有名， 中国 八大菜系之一的闽菜，要数 厦门 菜最为著名，以生猛海鲜、仿古药膳、普陀素材和风味小吃著称。端午节嘛，到 厦门 的话一定要去尝尝他们的烧肉粽、春卷、花生汤、海蛎煎、面线糊，这些都是 厦门 的特色小吃。大家如果找不到地方，那就一股脑去曾厝垵就好，那里啥美食都有，慢慢找，慢慢吃，慢慢欣赏这个小渔村的文艺，你会发现，自己的胃口啥时候变得这么好了</p>
						<ul class="ul_zj clearfix">
							<li>
								<a href="#"><img src="../images/游记2-1.jpeg" width="220" height="140"><span>白鹭洲</span></a>                  
							</li>
							<li>
								<a href="#"><img src="../images/游记2-2.jpeg" width="220" height="140"><span>鹭江</span></a>                  
							</li>
							<li>
								<a href="#"><img src="../images/游记2-3.jpeg" width="220" height="140"><span>鼓浪屿</span></a> 
							</li>
							<li>
								<a href="#"><img src="../images/游记2-4.jpeg" width="220" height="140"><span>海滨栈道</span></a> 
							</li>
							<li>
								<a href="#"><img src="../images/游记2-5.jpeg" width="220" height="140"><span>云也酒店</span></a> 
							</li>
							<li>
								<a href="#"><img src="../images/游记2-6.jpeg" width="220" height="140"><span>酒店大堂</span></a> 
							</li>
							<li>
								<a href="#"><img src="../images/游记2-7.jpeg" width="220" height="140"><span>酒店房间</span></a> 
							</li>
							<li>
								<a href="#"><img src="../images/游记2-8.jpeg" width="220" height="140"><span>风味小吃</span></a> 
							</li>
							<li>
								<a href="#"><img src="../images/游记2-9.jpg" width="220" height="140"><span>沙茶面</span></a> 
							</li>
						</ul>
                 	</div>
                	<div class="paging"></div>
            	</div>
        	</div>
			<!--content end--> 
		</div>
<!--footer开始-->
<div class="footer"> 
	<p><a href="../index.html">首页</a> | <a href="historic.html">历史</a> | <a href="zhiwuyuan.html">攻略</a> | <a href="beautiful.html">景点</a> | <a href="tourism.html">游记</a> | <a href="delicacy.html">美食</a> | <a href="leave.html">留言</a>| <a href="about.html">团队介绍</a> | <a href="connection.html">联系我们</a></p></p>
	<p>Copyright &copy; 2020－2021 All Rights Reserved 版权所有：软件工程新媒体专业-JavaScript课程专用</p>
	<p>地址：福建省厦门市集美区 </p>
</div>
<!--footer 结束--> 
</body>
</html>
