<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>海上花园-厦门</title>
<meta content="海上花园-厦门" name="keywords" />
<meta content="海上花园-厦门" name="description" />
<link href="../css/base.css" rel="stylesheet" type="text/css">
<link href="../css/pagename.css" rel="stylesheet" type="text/css">
</head>
<body>
<!--header-->

<div class="w1000">
	<div class="header_bottom">
		<a href="../index.html"><img src="../images/logo.png" width="257.5" height="57.25" alt="" title="海上花园-厦门"></a>
       		<ul>
            	<li><a href="../index.html">网站首页</a></li>       
              <li><a href="historic.html">历史</a></li>
              <li><a href="zhiwuyuan.html">攻略</a></li>      
              <li><a href="beautiful.html">景点</a></li>        
              <li><a href="tourism.html">游记</a></li>      
              <li><a href="delicacy.html">美食</a></li>      
              <li><a href="leave.html">留言</a></li>   
				      <li><a href="about.html">团队介绍</a></li>      
              <li><a href="connection.html">联系我们</a></li>
     		  </ul>  
  </div>       
</div>
<!--header结束--> 
<div class="container"> 		
		<!--banner-->
		<div class="banner_erji">
          <img src="../images/厦门游记1.png" width="1000" height="187" alt="" title="">        
    </div>
		<!--banner end--> 
		<!--content-->
		<div class="content clearfix">
      <div class="leftbar">
          <div class="leftnav">
              <h1>游记目录</h1>
              <ul class="ul_left">
                  <li>
                    <h3><a href="tourism.html">游记1</a></h3>
                  </li>
                  <li>
                    <h3><a href="tourism2.html">游记2</a></h3>
                  </li>
                  <li>
                    <h3><a href="tourism3.html">游记3</a></h3>
                  </li>
         	    </ul>
          </div>
          <div class="left_lx">
              <h1>联系方式</h1>
              <p>地址：福建省厦门市集美区</p>
              <p>联系人：范先生</p>
              <p>电话：0592-1234567</p>
              <p>QQ：58760000</p>
              <p>网址：www.xmtravel.com</p>
              <p>邮编：361001</p>
          </div>
      </div>
      <div class="rightbar">
          <div class="bread"><a href="../index.html">首页</a> > 游记 > 游记1</div>
          <div class="con_news">
              <p class="p_tit2">
              <span><b>游记1</b></span>
              </p>
               	 <div class="con">
              <p>
	            <p>
                  &nbsp;&nbsp;&nbsp;&nbsp;<b>悠 然 “夏” 日，我 “们” 的 快 乐 时 光 ，在 厦 门 ！</b><br /><br />
                  &nbsp;&nbsp;&nbsp;&nbsp;我的出行信息——————
                  出发时间： 2020-05-01 &nbsp;&nbsp;人物： 带孩子人均费用： 2700元 &nbsp;&nbsp;出行天数：5天<br /><br />
                  &nbsp;&nbsp;&nbsp;&nbsp;未来的某一天<br />
                  &nbsp;&nbsp;&nbsp;&nbsp;当我坐在摇椅上晒着太阳回忆着人生的旅途<br />
                  &nbsp;&nbsp;&nbsp;&nbsp;2020年<br />
                  &nbsp;&nbsp;&nbsp;&nbsp;这一整年的足迹大概都要跟疫情息息相关<br />
                  <br />
                  &nbsp;&nbsp;&nbsp;&nbsp;早在半年前就买好了 东京 的机票<br />
                  &nbsp;&nbsp;&nbsp;&nbsp;难得的五一小长假，想带叮当去 镰仓 看海过几天悠闲的小日子<br />
                  &nbsp;&nbsp;&nbsp;&nbsp;却因为疫情终归未能成行<br  /><br  />
                  &nbsp;&nbsp;&nbsp;&nbsp;还好，国内的形势已一片向好<br  />
                  &nbsp;&nbsp;&nbsp;&nbsp;不如换个方向去看海！<br  />
                  &nbsp;&nbsp;&nbsp;&nbsp;这个五一，就去 厦门 <br  />
                  &nbsp;&nbsp;&nbsp;&nbsp;邂逅突然而至的夏天<br  />
                  &nbsp;&nbsp;&nbsp;&nbsp;收获关于“ 厦门 ”的美好记忆！</p>
            	<ul class="ul_zj clearfix">
           	      <li>
                      <a href="#"><img src="../images/游记1-1.jpg" width="220" height="140" ><span>黄厝海滩</span></a>                  
                    </li>
                  <li>
                      <a href="#"><img src="../images/游记1-2.jpg" width="220" height="140" ><span>厦门科技馆</span></a>                  
                  </li>
                  <li>
                    	<a href="#"><img src="../images/游记1-3.jpg" width="220" height="140" ><span>八市</span></a>                 
                  </li>
                  <li>
                    	<a href="#"><img src="../images/游记1-4.jpg" width="600" height="440" ><span>Jolly</span></a>                
                  </li>
              </ul>
          </div>
          <div class="paging"></div>
      </div>
    </div>
		<!--content end--> 
</div>
<!--footer开始-->
<div class="footer"> 
	<p><a href="../index.html">首页</a> | <a href="historic.html">历史</a> | <a href="zhiwuyuan.html">攻略</a> | <a href="beautiful.html">景点</a> | <a href="tourism.html">游记</a> | <a href="delicacy.html">美食</a> | <a href="leave.html">留言</a>| <a href="about.html">团队介绍</a> | <a href="connection.html">联系我们</a></p></p>
	<p>Copyright &copy; 2020－2021 All Rights Reserved 版权所有：软件工程新媒体专业-JavaScript课程专用</p>
  <p>地址：福建省厦门市集美区</p>
</div>
<!--footer 结束--> 
</body>
</html>
