<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>海上花园-厦门</title>
<meta content="海上花园-厦门" name="keywords" />
<meta content="海上花园-厦门" name="description" />
<link href="../css/base.css" rel="stylesheet" type="text/css">
<link href="../css/pagename.css" rel="stylesheet" type="text/css">
</head>
<body>

<!--header 头部-->
<div class="w1000">
	<div class="header_bottom">
		<a href="../index.html"><img src="../images/logo.png" width="257.5" height="57.25" alt="" title="海上花园-厦门"></a>
       		<ul>
            	<li><a href="../index.html">网站首页</a></li>       
				<li><a href="historic.html">历史</a></li>
				<li><a href="zhiwuyuan.html">攻略</a></li>      
                <li><a href="beautiful.html">景点</a></li>        
                <li><a href="tourism.html">游记</a></li>      
                <li><a href="delicacy.html">美食</a></li>      
                <li><a href="leave.html">留言</a></li>   
				 <li><a href="about.html">团队介绍</a></li>      
                <li><a href="connection.html">联系我们</a></li>
     		</ul>  
    </div>       
</div>
 
<div class="container"> 		
		<!--banner 标题-->
		<div class="banner_erji">
        	<img src="../images/园博苑.png" width="1000" height="187" alt="" title="">
        </div>
		 
		<!--content 内容-->
		<div class="content clearfix">
        	<div class="leftbar">
            	<div class="leftnav">
                	<h1>厦门旅游攻略</h1>
                	<ul class="ul_left">
						<li><h3><a href="gulanyu.html">鼓浪屿</a></h3></li>
						<li><h3><a href="yuanboyuan.html">园博苑</a></h3></li>
						<li><h3><a href="zhiwuyuan.html">厦门园林植物园</a></h3></li>
         			</ul>
                </div>
                <div class="left_lx">
                	<h1>联系方式</h1>
                    <p>地址：福建省厦门市集美区</p>
                    <p>联系人：范先生</p>
                    <p>电话：0592-1234567</p>
                    <p>QQ：58760000</p>
                    <p>网址：www.xmtravel.com</p>
                    <p>邮编：361001</p>
                </div>
            </div>
        	<div class="rightbar">
            	<div class="bread"><a href="../index.html">首页</a> > 园博苑攻略</div>
            	<div class="con_news">
                	<p class="p_tit2">
                    	<span><b>园博苑攻略</b></span>
                        发布人:管理员　　发布时间：2020-06-2 20:20:00
                  	</p>
                	<div class="con">
               		   	<p>
						<p>
							&nbsp;&nbsp;&nbsp;&nbsp;厦门园林博览苑位于厦门市集美区杏林湾，于2007年9月23日正式对旅客开放。园博苑是第六届园博会的举办地，之后借助第六届园博会的契机而修建的旅游风景区，其最大的特色是在海上建园，总面积达10.82平方公里，其中陆地面积5.55平方公里，为历届园博会之最。
							<br />
							&nbsp;&nbsp;&nbsp;&nbsp;园内九岛棋布，百园争艳，遥可看百舸争流，近可观鱼翔浅底，这是一幅“园在水中，水在园中”的优美画卷，漫步园中，没有车马喧嚣，只有风清月明鸟语花香的宁静，给久居都市的人们展现了一个难得的世外桃源，可谓“虽为人作，宛如天开”，现已成为是厦门这座“海上花园”又一张亮丽的城市名片。
							<br />
							&nbsp;&nbsp;&nbsp;&nbsp;交通：园博苑交通便利，地铁公交均可直达。普通票 ：￥60元/人。优惠票 ：1.￥48元/人 （教师凭教师工作证按全票8折优惠）2.￥30元/人 退休人员凭退休证按全票5折优惠。3.学生凭全日制学生证按全票5折优惠。4. 6周岁(不含6周岁)至18周岁以下（含18周岁）未成年人凭有效身份证按全票5折优惠。符合相应条件的可免票 。门票售票时间：冬季 7:30-18:00，夏季 7:30-19:00。开放时间：7:30——22:00。园博苑面积比较大，建议游玩时间：1天。
							<br />
							&nbsp;&nbsp;&nbsp;&nbsp;园区较大，现分为四个岛屿，分别为主展岛、闽台岛、中华教育岛、海洋岛和温泉岛，建议乘坐观光电瓶车游览。（通票30元/人，22个站点呈环形绕景区游览）。园博苑按流派分为北方园区、江南园区、岭南园区、民族风情园区、现代园区和国际园区，向人们集中展示各园林流派的风格以及各参展地区园林及地域文化特色，可谓百园云集，是园林爱好者学习观赏的好作品，也是市民休闲旅游的好去处。
							<br />
							&nbsp;&nbsp;&nbsp;&nbsp;月光环是园博苑最重要的配套景观之一，其设计灵感来源于月的阴晴圆缺，主要通过内部装有的可调节LED夜景灯来实现这一浪漫的光影变化，展现“海上升明月”的动人景观。晚上来看时和后面的杏林阁相互呼应，美不胜收。海洋岛大地花卉景观：厦门园博苑将在不同的季节根据花卉特性时时更新展示应季花卉，陆续展示水仙花、油菜花、郁金香、白晶菊、向日葵、大波斯菊、荷花、桃花、鼠尾草、三角梅、虞美人等数十种花卉，形成大幅度的色系板块，并根据高低错落分布，营造出富有立体层次感、色彩缤纷，非常壮观。
							<br />
						</p>
						<p>
							<br />
						</p>
                    </div>
              </div>
            </div>
        </div>
</div>

<!--footer 尾部-->
<div class="footer"> 

	<p><a href="../index.html">首页</a> | <a href="historic.html">历史</a> | <a href="zhiwuyuan.html">攻略</a> | <a href="beautiful.html">景点</a> | <a href="tourism.html">游记</a> | <a href="delicacy.html">美食</a> | <a href="leave.html">留言</a>| <a href="about.html">团队介绍</a> | <a href="connection.html">联系我们</a></p></p>
    
	<p>Copyright &copy; 2020－2020 All Rights Reserved 版权所有：软件工程新媒体专业-JavaScript课程专用</p>
	<p>地址：福建省厦门市集美区 </p>
</div>
</body>
</html>