<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>海上花园-厦门</title>
<meta content="海上花园-厦门" name="keywords" />
<meta content="海上花园-厦门" name="description" />
<link href="../css/base.css" rel="stylesheet" type="text/css">
<link href="../css/pagename.css" rel="stylesheet" type="text/css">
</head>
<body>

<!--header 头部-->
<div class="w1000">
	<div class="header_bottom">
		<a href="../index.html"><img src="../images/logo.png" width="257.5" height="57.25" alt="" title="海上花园-厦门"></a>
       		<ul>
            	<li><a href="../index.html">网站首页</a></li>       
				<li><a href="historic.html">历史</a></li>
				<li><a href="zhiwuyuan.html">攻略</a></li>      
                <li><a href="beautiful.html">景点</a></li>        
                <li><a href="tourism.html">游记</a></li>      
                <li><a href="delicacy.html">美食</a></li>      
                <li><a href="leave.html">留言</a></li>   
				 <li><a href="about.html">团队介绍</a></li>      
                <li><a href="connection.html">联系我们</a></li>
     		</ul>  
    </div>       
</div>

<div class="container"> 		
		<!--banner 标题-->
		<div class="banner_erji">
        	<img src="../images/园林植物园.png" width="1000" height="187" alt="" title="">
        </div>
		 
		<!--content 内容-->
		<div class="content clearfix">
        	<div class="leftbar">
            	<div class="leftnav">
                	<h1>厦门旅游攻略</h1>
                	<ul class="ul_left">
						<li><h3><a href="gulanyu.html">鼓浪屿</a></h3></li>
						<li><h3><a href="yuanboyuan.html">园博苑</a></h3></li>
						<li><h3><a href="zhiwuyuan.html">厦门园林植物园</a></h3></li>
         			</ul>
                </div>
                <div class="left_lx">
                	<h1>联系方式</h1>
					<p>地址：福建省厦门市集美区</p>
					<p>联系人：范先生</p>
					<p>电话：0592-1234567</p>
					<p>QQ：58760000</p>
					<p>网址：www.xmtravel.com</p>
					<p>邮编：361001</p>
                </div>
            </div>
        	<div class="rightbar">
            	<div class="bread"><a href="../index.html">首页</a> > 厦门园林植物园攻略</div>
            	<div class="con_news">
                	<p class="p_tit2">
                    	<span><b>厦门园林植物园攻略</b></span>
                        发布人:管理员　　发布时间：2020-06-2 20:20:00
                    </p>
                	<div class="con">
               		   <p>
						<p>
							&nbsp;&nbsp;&nbsp;&nbsp;植物园栽培了3000多种热带、亚热带植物，其中有被人称为“活化石”的水杉、银杏。有世界三大观赏树--中国金钱松、日本金松、南洋杉，以及名贵的仙人掌等奇花异木。游植物园，一定从西门（正门）入。进门后上行几十米，就是园内游览车售票处和发车点，有两种车可以选择：电瓶车，小巴士。如果你不是健步行者，如果你带着老人孩子，建议你一定选坐小巴士，而且要买10元的往返票。
							<br />
							&nbsp;&nbsp;&nbsp;&nbsp;厦门 植物园有四个可看的景点。1.热带雨林世界，2.多肉植物区，3.姜目植物区，4.花卉园。所谓的国防园尚在建设中，只是摆上了几个破旧的飞机、导弹、坦克。若不是有强烈要看的兴趣，不建议去看。拍照打卡圣地：来厦门不可错过的万石植物园，喜欢拍照的朋友，或许已经在网上见过不少取景自万石植物园的美照了。这里有云雾缭绕的雨林世界区，还有墨西哥风情的仙人掌及多肉植物区。植物园门口就是厦门知名的拍照胜地铁路公园，喜欢旅拍的朋友来到厦门可不要错过了。
							<br />
							&nbsp;&nbsp;&nbsp;&nbsp;网红拍照地：沙生植物区，沙生植物区又分为五个小景区，遍布室内和室外，主要以多肉温室馆、仙人掌温室馆还有室外野生区三个为主。孕育着各种品类的植物，可供拍照，可供欣赏。常常有人抱怨“自己是个连仙人掌都养不活的人”，到了这里大概就会默默的感慨下。原来能把仙人掌养好，也可以那么美。
							<br />
							&nbsp;&nbsp;&nbsp;&nbsp;坐园内游览车，第一站就是热带雨林世界，虽说是人造景观，但水雾弥漫，别有风味。在这里，一定要顺着山谷往上走，一直走到人造瀑布处才算到头，越往上越好看。第二站是多肉植物区，看各种仙人掌。这里还有三个馆，其中森林多肉馆徒有其名，不值得一看。第三站就是单程的终点站（折返站），从这里下车，你可直接去花卉园，去花卉园必须先经过姜目植物区，一定从园内顺着山谷的石阶路往下走，很近就是花卉园。若走大路要多走很多路。花卉园花团锦簇，美不胜收。但好多外地游客到了姜目植物区入口，以为到了花卉园，会失望的立即折返，很可惜。
							<br />
							&nbsp;&nbsp;&nbsp;&nbsp;从花卉园原路返回下车的地方，继续乘车返回最初乘车的地方，植物园的游览行程就全部结束了。节奏快需要半天时间。带老人孩子的话，慢慢走，慢慢看，在绿树鲜花间吃个午饭，大约需要一天时间。
							<br />
						</p>
						<p>
							<br />
						</p>
                    </div>
              	</div>
            </div>
        </div>
</div>

<!--footer 尾部-->
<div class="footer">
 
	<p><a href="../index.html">首页</a> | <a href="historic.html">历史</a> | <a href="zhiwuyuan.html">攻略</a> | <a href="beautiful.html">景点</a> | <a href="tourism.html">游记</a> | <a href="delicacy.html">美食</a> | <a href="leave.html">留言</a>| <a href="about.html">团队介绍</a> | <a href="connection.html">联系我们</a></p></p>
    
	<p>Copyright &copy; 2020－2020 All Rights Reserved 版权所有：软件工程新媒体专业-JavaScript课程专用</p>
    <p>地址：福建省厦门市集美区 </p>
</div>
</body>
</html>